@import "../../Assets/Scss/variables.scss";

.pagination {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin-top: 10px;

  .activePageLink {
    font-size: 15px;
    font-weight: bolder;
    color: $green;
    background-color: rgb(231, 231, 231);
    padding: 6px 12px; 
    border-radius: 100%;
    margin: 0 6px;
  }

  li {
    margin-left: -8px;
    border-radius: 5px;

    a {
      width: 100%;
      cursor: pointer;
      padding: 0px 8px 0px 8px;
      margin-left: 3px;
      border-radius: 5px;
    }
  }
}