@import "../../Assets/Scss/variables.scss";

.inputWrapper {
  position: relative;
  .leftIconWrapper {
    position: absolute;
    top: 63%;
    left: 15px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .rightIconWrapper {
    position: absolute;
    top: 63%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .inputDesign {
    padding: 0.8rem 0.8rem;
    font-size: $font-15;
    border-radius: $border-radius-14;
    &::placeholder {
      color: $placeholder-color;
    }
  }
}
